@using AuthProject.ViewModels

@{

}

@if (TogglePasswordCheckViewModel.PasswordCheck)
{
    <a asp-action="PasswordCheckOff" asp-controller="User" class="btn btn-info text-white">PasswordCheck Off</a>
}
else
{
    <a asp-action="PasswordCheckOn" asp-controller="User" class="btn btn-info text-white">PasswordCheck On</a>
}